params {
    // Input
    input_dir = "/home/luis/rna-seq/fastqs"
    reads     = "$params.input_dir/*_{1,2}.fastq.gz"
    outdir    = "/home/luis/rna-seq/out"

    // Reference
    genome    = "/home/luis/rna-seq/ref/GRCh38.primary_assembly.genome.fa.gz"
    gtf       = "/home/luis/rna-seq/ref/gencode.v49.primary_assembly.annotation.gtf.gz"

    // 10x barcode whitelist (v3 chemistry)
    whitelist = "/home/luis/rna-seq/ref/3M-february-2018.txt"

    // STARsolo parameters
    solo_type    = "CB_UMI_Simple"
    solo_cb_len  = 16
    solo_umi_len = 12
    star_threads = 8
    star_ram     = 32000000000

    // Scanpy QC thresholds
    min_genes    = 200
    min_cells    = 3
    max_mito_pct = 20
    n_hvgs       = 2000
    n_pcs        = 50
    leiden_res   = 1.0

    // DE analysis (set true for Phase 2 cancer data)
    run_de        = false
    condition_col = "condition"

    // Container paths
    containers {
        fastqc  = "/home/luis/containers/FastQC_v0.12.1.sif"
        multiqc = "/home/luis/containers/multiqc_v1.27.sif"
        star    = "/home/luis/containers/star_v2.7.11b.sif"
        scanpy  = "/home/luis/containers/scanpy_v1.10.sif"
    }
}

singularity {
    enabled    = true
    autoMount  = true
    runOptions = '--bind /home/luis/rna-seq:/workspace'
    executable = '/home/luis/bin/bin/singularity'
}

profiles {
    standard {
        process.executor = 'local'
    }
    slurm {
        process.executor = 'slurm'
        process.queue    = 'normal'

        withName: star_index {
            cpus   = 8
            memory = '36 GB'
            time   = '2h'
        }
        withName: starsolo {
            cpus   = 8
            memory = '36 GB'
            time   = '4h'
        }
        withName: scanpy_qc {
            cpus   = 4
            memory = '32 GB'
            time   = '1h'
        }
        withName: scanpy_integrate {
            cpus   = 4
            memory = '32 GB'
            time   = '1h'
        }
        withName: scanpy_cluster {
            cpus   = 4
            memory = '32 GB'
            time   = '1h'
        }
        withName: pseudobulk_de {
            cpus   = 4
            memory = '16 GB'
            time   = '1h'
        }
    }
}
